@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: #EAF4F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 70px;
  height: auto;
}

.ambiente-seguro {
  display: flex;
  align-items: center;
  color: #6B9080;
}

.ambiente-seguro .icon {
  max-width: 20px;
  margin-right: 10px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}

.form-container {
  width: 400px;
  margin-right: 20px;
  padding: 20px;
  border: 2px solid #EAF4F4;
  background-color: #EAF4F4;
  border-radius: 20px;
  line-height: 2.0;
}

.form-container label {
  color: #6B9080;
}

.form-container input {
  color: #445d52;
  border-radius: 5px;
  border: 2px solid #fff;
  width: calc(100% - 10px);
  margin-bottom: 10px;
}

.form-container input:focus {
  border-color: #ADE1CA;
}

.info-container {
padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    width: 300px;
    margin: 0 20px;}

.info-container h3 {
  color: #333;
}

.info-container p {
  font-size: 14px;
  color: #6B9080;
  
}

header {
  background-color: #EAF4F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.logo-container {
  display: inline-block;
}

.ambiente-container {
  display: inline-block;
  margin-left: auto;
  max-width: 80px;
  height: 90px;
}

.logo {
  max-width: 120px;
  height: auto;
}

.botao {
  color: black;
  background-color: #ADE1CA;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 16px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.password-toggle-icon i:hover {
  color: #000;
}

input[type="password"] {
  padding-right: 30px;
}
