.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.form-container {
  width: 400px;
  margin-right: 20px;
  padding: 20px;
  border: 2px solid #EAF4F4;
  background-color: #EAF4F4;
  border-radius: 20px;
  line-height: 2.0;
  position: relative; /* Adiciona posição relativa para os spans */
}

.form-container label {
  color: #6B9080;
}

.form-container input {
  color: #6B9080;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #fff;
  width: calc(100% - 10px); /* Ajusta a largura dos inputs para acomodar os spans */
  margin-bottom: 10px; /* Adiciona um espaçamento entre os campos */
}

.form-container input:focus {
  border-color: #ADE1CA; /* Muda a cor da borda quando o input está em foco */
}

/* Estilo para os spans de mensagens de erro */
.form-container span.mensagem {
  position: absolute;
  bottom: -20px; /* Posiciona os spans abaixo dos inputs */
  left: 0;
  color: #FF6347; /* Cor vermelha para mensagens de erro */
  font-size: 12px; /* Tamanho da fonte menor para mensagens de erro */
}

.info-container {
  width: 400px;
}

.info-container p {
  font-size: 14px;
}

header {
  background-color: #EAF4F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}



span {
  margin-right: 20px;
  color: #6B9080;
}

.logo-container {
  display: inline-block;
}

.ambiente-container {
  display: inline-block;
  margin-left: auto;
  max-width: 80px;
  height: 90px;
}

.logo {
  max-width: 120px;
  height: auto;
}

.botao {
  color: black;
  background-color: #ADE1CA;
  width: 100%; /* Ajusta a largura do botão para preencher o contêiner */
  border-radius: 5px;
  padding: 10px; /* Adiciona espaço interno ao botão */
  cursor: pointer; /* Adiciona cursor de apontar */
  margin-top: 10px; /* Adiciona espaço entre o botão e os inputs */
}
