/* Container principal */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

/* Container do formulário */
.form-container {
  width: 400px;
  margin-right: 20px;
  padding: 20px;
  border: 2px solid #EAF4F4;
  background-color: #EAF4F4;
  border-radius: 20px;
  line-height: 2.0;
  position: relative;
}

.form-container label {
  color: #6B9080;
}

.form-container input {
  color: #6B9080;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #fff;
  width: calc(100% - 10px);
  margin-bottom: 10px;
}

/* Estilos do header */
header {
  background-color: #EAF4F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

span {
  margin-right: 20px;
  color: #6B9080;
}

.logo-container {
  display: inline-block;
}

.ambiente-container {
  display: inline-block;
  margin-left: auto;
  max-width: 80px;
  height: 90px;
}

.logo {
  max-width: 120px;
  height: auto;
}

.imgdallas {
  text-align: center;
  margin-top: 20px;
}

.imgdallas img {
  max-width: 100%;
  height: auto;
}

/* Estilos dos contêineres de ofertas */
.ofertas-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ofertas,
.ofertas2,
.ofertas3,
.ofertas4 {
  margin: 10px;
}

.product,
.product2,
.product3,
.product4 {
  width: 200px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.product img,
.product2 img,
.product3 img,
.product4 img {
  width: 100px;
  height: 100px;
}

.product button,
.product2 button,
.product3 button,
.product4 button {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.product button:hover,
.product2 button:hover,
.product3 button:hover,
.product4 button:hover {
  background-color: #45a049;
}

.product button:focus,
.product2 button:focus,
.product3 button:focus,
.product4 button:focus {
  outline: none;
  background-color: #357d37;
}

/* Estilos da mensagem de sucesso */
/* Estilos do CSS */

.mensagem {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  z-index: 999;
}

.mensagem.mostrar {
  display: block;
}
