body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #EAF4F4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav {
    width: calc(100% - 100px); /* Reduz a largura do nav para deixar espaço para o menu */
    display: flex;
    justify-content: center; /* Centraliza o menu horizontalmente */
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; /* Ajusta o espaçamento entre os itens do menu */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
}

nav ul li a:before,
nav ul li a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: #6B9080;
    transition: transform 0.3s, background-color 0.3s; /* Adiciona transição de cor */
    transform: scaleX(0);
}

nav ul li a:after {
    left: 0;
    transform-origin: left;
}

nav ul li a:before {
    right: 0;
    transform-origin: right;
}

nav ul li a:hover:before,
nav ul li a:hover:after {
    transform: scaleX(1);
    background-color: #333; /* Altera a cor ao passar o mouse */
}

.pesquisa {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.pesquisa input[type="text"] {
    padding: 8px;
    border-radius: 5px;
}

.pesquisa button,
.user-actions button {
    padding: 10px 20px;
    background-color: #6B9080;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pesquisa button:hover,
.user-actions button:hover {
    background-color: #ADE1CA;
}

.user-actions {
    display: flex;
    align-items: center;
    margin-left: auto; /* Move os botões para a direita */
}

.menu {
    margin-top: 20px; /* Ajuste a margem conforme necessário */
}

.imagem-container {
    display: flex; /* Permite que as imagens sejam exibidas lado a lado */
    justify-content: center; /* Centraliza as imagens horizontalmente */
    margin-top: 20px; /* Adiciona margem acima das imagens */
}

.imgrl, .imgrl2 {
    width: 50%; /* Define a largura de cada imagem para ocupar metade do contêiner */
}

.imgrl {
    margin-right: 10px; /* Adiciona margem entre as imagens */
}

.fundo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #EAF4F4;
    color: black;
    padding: 20px;
    text-align: center;
}
.linha-separadora {
    border-top: 1px solid #6B9080; /* Cor e estilo da linha */
    margin-top: 20px; /* Espaço entre a linha e os elementos acima */
    margin-bottom: 20px; /* Espaço entre a linha e os elementos abaixo */
}
.textmarca {
    font-family: sans-serif;
    color: #6B9080;
    font-size: 18px;
    margin-left: 20px; /* Adiciona margem à esquerda */
    margin-right: 20px; /* Adiciona margem à direita */
}

.primeira-imagem {
    border: none; /* Remove a borda da primeira imagem */
}
/* Seu código CSS atual */

/* Adicione este trecho para alinhar as imagens da classe "ofertas" na horizontal */
.ofertas {
    display: flex;
}

.product {
    flex: 1;
}
/* Seu código CSS atual */

/* Adicione este trecho para definir a largura das imagens */
.product img {
    max-width: 250px; /* Defina o tamanho máximo desejado */
    max-height: 250px; /* Defina o tamanho máximo desejado */

}
.linha-separadora2  {
    border-top: 1px solid #6B9080; /* Cor e estilo da linha */
    margin-top: 20px; /* Espaço entre a linha e os elementos acima */
    margin-bottom: 20px; /* Espaço entre a linha e os elementos abaixo */
}
.produto {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Adiciona margem entre os produtos */
}

.produto img {
    max-width: 250px; /* Defina o tamanho máximo desejado */
    max-height: 250px; /* Defina o tamanho máximo desejado */
}
.venda {
    display: flex;
}

.produto {
    flex: 1;
}
.produto img {
    max-width: 250px; /* Defina o tamanho máximo desejado */
    max-height: 250px; /* Defina o tamanho máximo desejado */
}
.btn-add-to-cart {
    background-color: #6B9080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-add-to-cart:hover {
    background-color: #ADE1CA;
}
