body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.top-bar {
    background-color: #EAF4F4; /* Cor de fundo verde */
    height: 50px; /* Altura da barra superior */
    width: 100%; /* Largura total */
    color: #EAF4F4; /* Cor do texto na barra superior */
    font-family: Arial, sans-serif; /* Fonte na barra superior */
    display: flex; /* Adicionado para centralizar verticalmente o texto e a imagem */
    align-items: center; /* Adicionado para centralizar verticalmente o texto e a imagem */
    padding-left: 60px; /* Adiciona espaço para a imagem no canto esquerdo */
    background-image: url('img/Captura\ de\ tela\ 2024-04-05\ 193318.png'); /* Caminho para a imagem */
    background-repeat: no-repeat; /* Evita que a imagem seja repetida */
    background-size: 40px 40px; /* Define o tamanho da imagem */
    background-position: 10px center; /* Posiciona a imagem no canto esquerdo */
    box-sizing: border-box; /* Inclui padding na largura total */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px); /* Altura total menos a altura da barra superior */
}

.box-wrapper {
    background-color: #EAF4F4; /* Cor de fundo da caixa */
    border: 2px solid #ccc; /* Adicionando a borda */
    border-radius: 10px; /* Adicionando um raio de borda */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px 60px; /* Espaçamento interno: 40px superior e inferior, 60px direita e esquerda */
    color: #000; /* Cor do texto na caixa */
    font-family: Arial, sans-serif; /* Fonte na caixa */
    max-width: 600px; /* Largura máxima da caixa */
}

/* Estilos adicionais para o conteúdo */
h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}






