.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form-container {
  width: 400px;
  margin-right: 20px;
}

.info-container {
  width: 400px;
}

.info-container p {
  font-size: 14px;
}

header {
  background-color: #EAF4F4;
  display: flex;
  justify-content: flex-end; /* Alinha os elementos à direita */
  align-items: center; /* Centraliza verticalmente */
  padding: 10px; /* Adiciona espaço interno */
}

span {
  margin-right: 20px; /* Espaçamento à direita */
}

.logo {
  max-width: 100px; /* Define uma largura máxima para a imagem */
  height: auto; /* Mantém a proporção da imagem */
}

.logo {
  margin-right: auto; /* Move a logo para a esquerda */
}
